{% extends 'layouts/base_admin.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                {{ form.producto | add_class:"form-control" }}
                <label for="id_producto">Seleccionar producto</label>
            </div>

            <div class="form-floating mb-3">
                {{ form.tipo | add_class:"form-control" }}
                <label for="id_tipo">Seleccionar movimiento</label>
            </div>

            <div class="form-floating mb-3">
                {{ form.stock | add_class:"form-control" }}
                <label for="id_stock">Ingresar stock</label>
            </div>

            <button type="submit" class="btn btn-primary">Confirmar movimiento</button>
        </form>
    </div>
</div>

{% endblock %}