{% extends 'layouts/base.html' %}

{% block content %}

<style>
    h3 {
        color: white;
        font-size: 50px;
        font-family: "Italianno", cursive;
        font-style: normal;
        text-align: center;
    }

    h5.card-title {
        font-family: 'Bebas Neue';
        font-size: 20px;
    }

    a.btn.btn-dark {
        font-family: 'Bebas Neue';
        font-size: 20px;
    }

    a.btn.btn-success {

        font-family: 'Bebas Neue';
        font-size: 20px;
    }

    a.btn.btn-danger {
        font-family: 'Bebas Neue';
        font-size: 20px;
    }

    .btn-warning {
        font-family: 'Bebas Neue';
        font-size: 20px;
    }

    label.btn.btn-outline-dark {
        font-family: 'Bebas Neue';
        font-size: 20px;
    }

    input.form-control {
        font-family: 'Bebas Neue';
        font-size: 20px;
    }

    .img-fluid {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contenedor-imagen {
        overflow: hidden;
        display: inline-block;
    }

    .imagen-ampliable {
        width: 100%;
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    .imagen-ampliable:hover {
        transform: scale(1.5);
    }
</style>

<div class="container" style="background: rgba(0, 0, 0, 0.85);">
    <form method="POST" action="{% url 'canjear' %}">
        <br>
        {% csrf_token %}
        <div class="sticky-top">
            <div class="d-flex">
                <a href="{% url 'modo_lista' %}" class="btn btn-dark">
                    <i class="bi bi-list"></i>
                </a>
                &nbsp;
                <button type="submit" class="btn btn-warning">Canjear productos seleccionados</button>
            </div>
        </div>
        <!-- CATEGORIAS -->
        {% regroup productos by categoria as grouped_products %}
        {% for group in grouped_products %}
        <h3>
            {{ group.grouper }}
        </h3>
        <hr style="border: 2px solid; color: white;">

        <!-- PRODUCTOS -->
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for producto in group.list %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">
                        <input type="checkbox" class="btn-check" id="{{ producto.id }}" name="productos"
                            value="{{ producto.id }}">
                        <label class="btn btn-outline-dark" for="{{ producto.id }}">
                            Seleccionar
                        </label>
                    </div>
                    <div class="contenedor-imagen">
                        <img src="{{ producto.imagen.url }}" class="img-fluid top-img, imagen-ampliable" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ producto.categoria }} {{ producto.nombre }}
                        </h5>
                        <div div class="d-grid gap-2">
                            {% if producto.stock == 0 %}
                            <a class="btn btn-danger">
                                Sin existencias
                            </a>
                            {% elif producto.stock <= 10 %} <a class="btn btn-warning">
                                {{ producto.stock }} unidades disponibles
                                </a>
                                {% else %}
                                <a class="btn btn-success">
                                    {{ producto.stock }} unidades disponibles
                                </a>
                                {% endif %}
                                <a class="btn btn-dark" style="color: gold;">
                                    {{ producto.puntos_requeridos }} puntos
                                </a>
                                <input type="number" name="cantidad_{{ producto.id }}" min="1" value="1"
                                    class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </form>
</div>

{% endblock %}