{% extends 'layouts/base_admin.html' %}

{% load widget_tweaks %}

{% block content %}

<style>
    .btn.btn-dark {
        font-size: 25px;
        font-family: 'Bebas Neue';
    }
</style>

<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                {{ form.puntos | add_class:"form-control" }}
                <label for="id_puntos">Asignar puntos</label>
            </div>
            <div class="form-floating mb-3">
                {{ form.puntos_subasta | add_class:"form-control" }}
                <label for="id_puntos_subasta">Asignar puntos para pujar</label>
            </div>
            <button type="submit" class="btn btn-dark">Confirmar cambios</button>
        </form>
    </div>
</div>

{% endblock %}