{% extends 'layouts/base_admin.html' %}

{% block content %}

<style>
    .btn.btn-dark {
        font-size: 25px;
        font-family: 'Bebas Neue';
    }

    th {
        font-size: 20px;
        font-family: "Bebas Neue";
        font-weight: 400;
    }

    tbody {
        font-family: "Arial";
    }
</style>

<div class="card">
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <th>Código ISO</th>
                <th>Origen del producto</th>
            </thead>
            <tbody>
                {% for procedencia in procedencias %}
                <tr>
                    <td>{{ procedencia.codigo_iso }}</td>
                    <td>{{ procedencia.nombre }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No hay procedencias registradas</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'add_procedencia' %}" class="btn btn-dark">Añadir</a>
    </div>
</div>

{% endblock %}