{% extends 'layouts/base_admin.html' %}

{% block content %}

<style>
    .btn.btn-dark {
        font-size: 25px;
        font-family: 'Bebas Neue';
    }

    th {
        font-size: 20px;
        font-family: "Bebas Neue";
        font-weight: 400;
    }

    tbody {
        font-family: "Arial";
    }
</style>
<div class="card">
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <th>RUT del proveedor</th>
                <th>Nombre de la empresa</th>
                <th>Número de teléfono</th>
            </thead>
            <tbody>
                {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.rut }}</td>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.telefono }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No hay proveedores registrados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'add_proveedor' %}" class="btn btn-dark">Añadir</a>
    </div>
</div>

{% endblock %}