{% extends 'layouts/base_admin.html' %}

{% block content %}

<style>
    .btn.btn-dark {
        font-size: 25px;
        font-family: 'Bebas Neue';
    }

    th {
        font-size: 20px;
        font-family: "Bebas Neue";
        font-weight: 400;
    }

    tbody {
        font-family: "Arial";
    }
</style>

<div class="card">
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Categoría</th>
                    <th>Marca</th>
                    <th class="text-center">Alc. (%)</th>
                    <th class="text-center">Cont. Neto (ml)</th>
                    <th class="text-center">Stock</th>
                    <th class="text-center">Puntos</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>{{ producto.marca }}</td>
                    <td class="text-center">{{ producto.abv }}</td>
                    <td class="text-center">{{ producto.contenido }}</td>
                    <td class="text-center">{{ producto.stock }}</td>
                    <td class="text-center">{{ producto.puntos_requeridos }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if user.is_staff %}
        <a href="{% url 'add_producto' %}" class="btn btn-dark">Añadir</a>
        {% endif %}
        <a href="{% url 'add_movimiento' %}" class="btn btn-dark">Añadir</a>
    </div>
</div>

{% endblock %}