{% extends 'layouts/base.html' %}

{% block content %}
<div class="container mt-3">
    <table class="table">
        <thead>
            <tr>
                <th>USUARIO: {{ request.user }}</th>
                <th>PUNTOS: {{ empleado.puntos }}</th>
            </tr>
        </thead>
    </table>
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">PRODUCTO</th>
                <th>UNIDADES</th>
                <th scope="col">EXISTENCIAS</th>
                <th scope="col">PUNTOS</th>
                <th scope="col">PRECIO</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.marca}} {{ producto.nombre }}</td>
                {% if producto.unidades == 1 %}
                <td>Botella de {{ producto.contenido }} cc</td>
                {% else %}
                <td>Caja de {{ producto.unidades }} botellas de {{ producto.contenido }} cc</td>
                {% endif %}
                <td>{{ producto.stock }}</td>
                <td>{{ producto.puntos_requeridos }}</td>
                <td>{{ producto.precio }}</td>
                <td>
                    <a href="{% url 'canjear' producto.id %}">Canjear</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}