{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        <br>
        <table class="table table-bordered">
            <thead>
                <th>RUT</th>
                <th>Nombre de la empresa</th>
                <th>Número de teléfono</th>
            </thead>
            <tbody>
                {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.rut }}</td>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.telefono }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}