{% extends 'layouts/base_admin.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <th>Número de pedido</th>
                <th>Fecha de creación</th>
                <th>Destinatario</th>
                <th>Estado</th>
                <th>Total de puntos</th>
                <th></th>
            </thead>
            <tbody>
                {% for orden in ordenes %}
                <tr>
                    <td>
                        <a href="{% url 'detalle_orden_pedido' orden.id %}">{{ orden.id }}</a>
                    </td>
                    <td>{{ orden.fecha_creacion }}</td>
                    <td>{{ orden.empleado }}</td>
                    <td>{{ orden.estado }}</td>
                    <td>{{ orden.total_puntos }}</td>
                    <td>
                        <a href="{% url 'aprobar_canje' orden.id %}" class="btn btn-success btn-sm">Aprobar</a>
                        <a href="{% url 'rechazar_canje' orden.id %}" class="btn btn-danger btn-sm">Rechazar</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}