{% extends 'layouts/base_admin.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    .btn.btn-dark {
        font-size: 25px;
        font-family: 'Bebas Neue';
    }

    th {
        font-size: 20px;
        font-family: "Bebas Neue";
        font-weight: 400;
    }

    tbody {
        font-family: "Arial";
    }
</style>

<div class="card">
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <th>RUN</th>
                <th>Nombre de usuario</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo electrónico</th>
                <th class="text-center">Puntos</th>
                <th class="text-center">Puntos para subastar</th>
                <th class="text-center">Acciones</th>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado.run }}-{{ empleado.dv }}</td>
                    <td>{{ empleado.usuario }}</td>
                    <td>{{ empleado.usuario.first_name }}</td>
                    <td>{{ empleado.usuario.last_name }}</td>
                    <td>{{ empleado.usuario.email }}</td>
                    <td class="text-center">{{ empleado.puntos }}</td>
                    <td class="text-center">{{ empleado.puntos_subasta }}</td>
                    <td>
                        <a href="{% url 'change_puntos' empleado.id %}">Asignar puntos</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}