{% extends 'layouts/base.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Marca</th>
                    <th>Alc. (%)</th>
                    <th>Cont. Neto (ml)</th>
                    <th>Stock</th>
                    <th>Unidades</th>
                    <th>Precio (CLP)</th>
                    <th>Puntos</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>{{ producto.marca }}</td>
                    <td>{{ producto.abv }}</td>
                    <td>{{ producto.contenido }}</td>
                    <td>{{ producto.stock }}</td>
                    {% if producto.unidades == 1 %}
                    <td>{{ producto.unidades }} botella</td>
                    {% else %}
                    <td>Caja de {{ producto.unidades }} botellas</td>
                    {% endif %}
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.puntos_requeridos }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'crear_producto' %}" class="btn btn-primary">Registrar nuevo producto</a>
        <a href="{% url 'registrar_movimiento' %}" class="btn btn-primary">Registrar movimiento</a>
    </div>
</div>



{% endblock %}