{% extends 'layouts/base_admin.html' %}

{% block content %}

<div class="container col-md-6 offset-md">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title" style="font-size: 25px; font-family: 'Homemade Apple', sans-serif;">
                Bienvenido a Mi Walker
            </h5>
            <img src="static\img\user.jpg" alt="" style="border-radius: 100%; width: 200px;">
            <h1 style="font-family: 'Homemade Apple';">
                {{ request.user.first_name }} {{ request.user.last_name }}
            </h1>
        </div>
    </div>
</div>

{% endblock %}