{% extends 'layouts/base_admin.html' %}

{% load widget_tweaks %}

{% block content %}

<style>
    .btn.btn-dark {
        font-size: 25px;
        font-family: 'Bebas Neue';
    }
</style>

<div class="card">
    <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <div class="form-floating mb-3">
                    {{ form.producto | add_class:"form-control" }}
                    <label for="id_producto">Seleccionar producto</label>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-floating mb-3">
                        {{ form.fecha_inicio | add_class:"form-control"}}
                        <label for="id_fecha_inicio">Fecha de inicio</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-3">
                        {{ form.fecha_fin | add_class:"form-control" }}
                        <label for="id_fecha_fin">Fecha de fin</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Crear Subasta</button>
        </form>
    </div>
</div>

{% endblock %}