{% extends 'layouts/base_admin.html' %}

{% block content %}

<style>
    .background {
        background-color: rgba(0, 0, 0, 0.85);
    }

    .btn-dark {
        font-size: 30px;
        font-family: 'Bebas Neue';
    }
</style>

{% if subastas %}

<div class="card">
    <div class="card-body">
        <table class="table table">
            <thead>
                <th>Producto</th>
                <th>Estado</th>
                <th>Fecha de inicio</th>
                <th>Fecha de fin</th>
                <th>Acciones</th>
            </thead>

            <tbody class="table-group-divider">
                {% for subasta in subastas %}
                {% if subasta.estado == 'Activa' %}
                <tr class="table-success">
                    <td>{{ subasta.producto }}</td>
                    <td>{{ subasta.estado }}</td>
                    <td>{{ subasta.fecha_inicio }}</td>
                    <td>{{ subasta.fecha_fin }}</td>
                    <td>
                        <a href="{% url 'cerrar_subasta' subasta.id %}" class="btn btn-danger">
                            Cerrar subasta
                        </a>
                    </td>
                </tr>
                {% else %}
                <tr class="table-danger">
                    <td>{{ subasta.producto }}</td>
                    <td>{{ subasta.estado }}</td>
                    <td>{{ subasta.fecha_inicio }}</td>
                    <td>{{ subasta.fecha_fin }}</td>
                    <td></td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
            <a href="{% url 'crear_subasta' %}" class="btn btn-success">
                Crear subasta
            </a>
        </table>
    </div>
</div>

{% else %}

<div class="card text-center mb-4 background">
    <div class="card-body">
        <a href="{% url 'crear_subasta' %}" class="btn btn-dark">Publicar nueva subasta</a>
    </div>
</div>

{% endif %}

{% endblock %}